<html>
    <head>
        <title>Git client</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/superhero.min.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default" id="titlebar">Git client</nav>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                    </div>
                
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                        </li>
                    </ul>
                    <ul id="titlebar-btns" class="nav navbar-nav navbar-right">
                        <li><a href="#">-</a></li>
                        <li><a href="#">o</a></li>
                        <li><a href="#">x</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
           
        <script>
            const electron = require('electron');
            const {ipcRenderer, BrowserWindow} = electron;

            document.querySelector('#btn-min').addEventListener('click', function() {
                ipcRenderer.send('win:minimize');
            });

            document.querySelector('#btn-max').addEventListener('click', function() {
                ipcRenderer.send('win:maximize');
            });

            document.querySelector('#btn-close').addEventListener('click', function() {
                ipcRenderer.send('win:close');
            });

            document.querySelector('#btn-open').addEventListener('click', function (e) { 
                ipcRenderer.send('repo:open');
            });

            ipcRenderer.on('repo:log', function(e, commits) {
                var lines = document.querySelector('#table-log tbody');
                lines.innerHTML = '';

                for(i = 1; i <= commits.length; i++) {

                    if ( commits[i].indexOf(' ') == -1 )
                        continue;

                    var tr = document.createElement('tr');
                    var tdCommit = document.createElement('td');
                    tdCommit.innerText = commits[i].slice(0, commits[i].indexOf(' '));
                    var tdMessage = document.createElement('td');
                    tdMessage.innerText = commits[i].slice(commits[i].indexOf(' ')+1);

                    tr.appendChild(tdCommit);
                    tr.appendChild(tdMessage);
                    lines.appendChild(tr);
                }
            });

            ipcRenderer.on('repo:status', function(e, lines) {
                var navChanges = document.querySelector('#navChanges');
                navChanges.innerHTML = '<h5 class="nav-group-title">Changes</h5>';
                

                for (i = 0; i < lines.length; i++) {
                    var lin = lines[i].trim();
                    var splitIndex = lin.indexOf(' ');
                    var opChar;

                    if ( splitIndex == -1 )
                        continue;

                    var span = document.createElement('span');
                    span.classList.add('nav-group-item');


                    switch ( opChar = lin.slice(0, splitIndex) ) {
                        case 'M': opChar = '<span class="icon icon-record" style="color:#34c84a"></span>'; break;
                        case '??': opChar = '<span class="icon icon-record" style="color:#57acf5"></span>'; break;
                        case 'D': opChar = '<span class="icon icon-record" style="color:#fc605b"></span>'; break;
                        default: opChar = '?';
                    }

                    span.innerHTML = opChar + ' ' + lin.slice(splitIndex+1);

                    navChanges.appendChild(span);
                }
            });

            ipcRenderer.on('repo:remotes', function(e, lines) {
                var navRemotes = document.querySelector('#navRemotes');
                navRemotes.innerHTML = '<h5 class="nav-group-title">Remotes</h5>';

                for (i = 0; i < lines.length; i++) {
                    var lin = lines[i].trim();

                    if ( lin == "" )
                        continue;

                    var span = document.createElement('span');
                    span.classList.add('nav-group-item');

                    span.innerHTML = lin;

                    navRemotes.appendChild(span);
                }
            });
        </script>
    </body>
</html>