<html>
    <head>
        <title>Git client</title>
        <link rel="stylesheet" href="../css/photon.min.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/menu.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="window">
            <header class="toolbar toolbar-header">
                <div class="toolbar-actions">
                    <h1 class="title">
                        Git client
                        <div id="win-frame-menu" class="btn-group pull-right">
                            <span id="btn-min" class="icon icon-down-open"></span>
                            <span id="btn-max" class="icon icon-resize-small"></span>   
                            <span id="btn-close" class="icon icon-cancel"></span> 
                        </div>
                    </h1>
                    <div class="btn-group">
                        <button id="btn-open" title="Open Repository" class="btn btn-default">
                            <span class="icon icon-drive"></span>
                        </button>
                        <button class="btn btn-default">
                            <span class="icon icon-left-open"></span>
                        </button>
                        <button class="btn btn-default">
                            <span class="icon icon-right-open"></span>
                        </button>
                        <button class="btn btn-default">
                            <span class="icon icon-home"></span>
                        </button>
                        <button class="btn btn-default">
                            <span class="icon icon-search"></span>
                        </button>
                        <button class="btn btn-default active">
                            <span class="icon icon-cloud"></span>
                        </button>
                    </div>
                </div>
            </header>

            <div class="window-content">
            <div class="pane-group">
                <div class="pane pane-sm sidebar">
                <nav class="nav-group">
                    <h5 class="nav-group-title">Branches</h5>
                    <span class="nav-group-item"> master </span>
                    <span class="nav-group-item"> develop </span>
                    <span class="nav-group-item"> feature </span>
                </nav>
                <nav class="nav-group">
                    <h5 class="nav-group-title">Remotes</h5>
                    <span class="nav-group-item"> origin </span>
                    <span class="nav-group-item"> remote </span>
                </nav>
                </div>

                <div class="pane">
                <table id="table-log" class="table-striped">
                    <thead>
                    <tr>
                        <th>Commit</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>

                <div class="pane pane-sm sidebar">
                <nav class="nav-group">
                    <h5 class="nav-group-title">Changes</h5>
                    <span class="nav-group-item"> main.c </span>
                    <span class="nav-group-item"> file1.c </span>
                </nav>
                </div>
            </div>
            </div>
        </div>
        <script>
            const electron = require('electron');
            const {ipcRenderer, BrowserWindow} = electron;

            document.querySelector('#btn-min').addEventListener('click', function() {
                ipcRenderer.send('win:minimize');
            });

            document.querySelector('#btn-max').addEventListener('click', function() {
                ipcRenderer.send('win:maximize');
            });

            document.querySelector('#btn-close').addEventListener('click', function() {
                ipcRenderer.send('win:close');
            });

            document.querySelector('#btn-open').addEventListener('click', function (e) { 
                ipcRenderer.send('repo:open');
            });

            ipcRenderer.on('repo:log', function(e, commits) {
                var lines = document.querySelector('#table-log tbody');
                lines.innerHTML = '';

                for(i = 1; i <= commits.length; i++) {

                    if ( commits[i].indexOf(' ') == -1 )
                        continue;

                    var tr = document.createElement('tr');
                    var tdCommit = document.createElement('td');
                    tdCommit.innerText = commits[i].slice(0, commits[i].indexOf(' '));
                    var tdMessage = document.createElement('td');
                    tdMessage.innerText = commits[i].slice(commits[i].indexOf(' ')+1);

                    tr.appendChild(tdCommit);
                    tr.appendChild(tdMessage);
                    lines.appendChild(tr);
                }
            });
        </script>
    </body>
</html>