#titlebar {
    -webkit-app-region: drag;
}

#titlebar-btns {
    -webkit-app-region: no-drag;
}

.navbar-brand,
nav.navbar,
.navbar-nav li a {
    line-height: 30px;
    height: 30px;
    padding-top: 0;
}