@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    background-color: #212121;
    color: #FF7042;
    font-family: 'Roboto';
}

.block {
    background-color: #1A1919;
}

#titlebar {
    -webkit-app-region: drag;
}

#title {
    display: inline-block;
    width: 85%;
}

#titlebar-btns {
    -webkit-app-region: no-drag;
    font-size: 15px;
    display: inline-block;
}